BOT_TOKEN="6871915126:AAFmH-FiOMUywPBs3S1pLswZZRBi3hcAnnM"
DB_URL="postgres://postgres:123@localhost:5432/easycreate_db"
LAVA_SHOP_ID="1"
LAVA_KEY_SECRET="1"
LAVA_KEY_STILL="1"
SMS_ACTIVATE_TOKEN="mXny5RZ85nFEJ1B-8xqCL9M8-1w2zs4Wa-Uv2edcf2-zLn3V69LuX87aUQ"
CRYPTOMUS_MERCHANT = "1"
CRYPTOMUS_APPKEY = "1"
AAIO_ID = "1"
AAIO_KEY = "1"
AAIO_SECRET_1 = "1"
AAIO_SECRET_2 = "1"